@font-face {
    font-family: Graphik;
    src: url(Font/Graphik-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Graphik;
    src: url(Font/Graphik-Medium.ttf);
    font-weight: 500;
}


body {
  margin: 0;
  padding: 0;
  font-family: Graphik, sans-serif;
}


.App {
    position: absolute;
    height: 100%;
    width: 100%;
}



/* -------- Module -------- */
.module-wrapper {
    position: absolute;
    display: inline-block;
    width: auto;
    overflow: scroll;
}






/* -------- NAV -------- */

.sidenav {
    display: inline-block;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    overflow-x: hidden;
    /*padding-top: 32px;*/
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    line-height: 32px;
    font-weight: 400;
}

.sidenav a:hover {
    background-color: #673F89;
    transition: 0.2s;
}

.settingSideNav a:hover {
    background-color: #F1F1F1;
    transition: 0.2s;
}
