@font-face {
    font-family: Graphik;
    src: url(Font/Graphik-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Graphik;
    src: url(Font/Graphik-Medium.ttf);
    font-weight: 500;
}


body {
  margin: 0;
  padding: 0;
  font-family: Graphik, sans-serif;
}



.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #36476C;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    line-height: 32px;
    font-weight: 400;
}

.sidenav a:hover {
    background-color: #673F89;
    transition: 0.2s;
}